          /* myapp/static/myapp/styles.css */

          body {
            font-family: 'Arial', sans-serif;
            margin: 20px;
            background-position: center;
        }

        h1 {
            color: #007BFF;
        }

        h2 {
            color: #28A745;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin-bottom: 10px;
        }
input span{
    position: relative;
    z-index: 1;
    opacity: 0.75;
    color:white;
    transition: all 0.5s ease-in-out;
}
